@charset "UTF-8";

menu {
	background-color: #E6A55A;
}
.nav-link {
	color: white;
	text-decoration: none;
}
.nav-link:hover {
	color: white;
	text-decoration: none;
}
.text-div {
	background-color: #AE5E1A;
	height: 250px;
}
.text-div2 {
	background-color: #D2691E;
	color: white;
}
.main {
	color: black;
	text-decoration: none;
}
.main:hover {
	color: black;
	text-decoration: none;
}